
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Atencion Medica</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar >
      <ion-title size="large">atencion medica</ion-title>
    </ion-toolbar>

  </ion-header>
  <div class="logo-text">
    <img src="/assets/img/Pegatina for Sale con la obra Veterinario de megnance27.jpeg" alt="logo">
    <label for=""><h1>zooheath</h1></label>
</div>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>opciones</ion-title>
  </ion-toolbar>


  <ion-card class="imagenes">
    <img alt="Perrito" src="\assets\img\perrito.jpeg" />
    <ion-card-header>
    <ion-button routerLink="/check-general">Check-General</ion-button>
    </ion-card-header>
  
    <ion-card-content class="mensaje">
      la mejor forma de mantener a tu amigo peludo sano y fuerte
    </ion-card-content>
  </ion-card>

  <ion-card class="imagenes">
    <img alt="gatico" src="\assets\img\gatico.jpeg" />
    <ion-card-header>
      <ion-button routerLink="/check-personal">Check-Personal</ion-button>
    </ion-card-header>
  
    <ion-card-content class="mensaje">
      una solucion para que tu, y tu amigo peludo esten mas tranquilos
    </ion-card-content>
  </ion-card>

  <ion-card class="imagenes">
    <img alt="peluqueria" src="\assets\img\peluqueria.jpeg" />
    <ion-card-header>
      <ion-button routerLink="/peluqueria">Peluqueria</ion-button>
    </ion-card-header>
  
    <ion-card-content class="mensaje">
      ¿ y que tal una cortada de cabello para nuestro amigo peludo?
    </ion-card-content>

  </ion-card>

  <ion-card class="imagenes">
    <img alt="limpieza bucal" src="\assets\img\limpieza bucal.jpeg" />
    <ion-card-header>
      <ion-button routerLink="/limpieza-bucal">Limpieza-Bucal</ion-button>
    </ion-card-header>
  
    <ion-card-content class="mensaje">
      recuerda que no solo nosotros tenemos caries :)
    </ion-card-content>
  </ion-card>

  <ion-card class="imagenes">
    <img alt="sala de partos" src="\assets\img\sala de partos.jpeg" />
    <ion-card-header>
      <ion-button routerLink="/sala-de-partos">Sala De Partos</ion-button>
    </ion-card-header>
  
    <ion-card-content class="mensaje">
      ! la familia crece ¡
    </ion-card-content>
  </ion-card>

   <ion-card class="imagenes">
    <img alt="Ecografias" src="\assets\img\ecografias.jpeg" />
    <ion-card-header>
      <ion-button routerLink="/ecografias">Ecografias</ion-button>
    </ion-card-header>
  
    <ion-card-content class="mensaje">
      ¿y que tal esos bebes?
    </ion-card-content>
  </ion-card>

  <ion-card class="imagenes">
    <img alt="Entrenamientos" src="\assets\img\entrenamiento (2).jpeg" />
    <ion-card-header>
      <ion-button routerLink="/entrenamientos">Entrenamientos</ion-button>
    </ion-card-header>
  
    <ion-card-content class="mensaje">
      ¿tu amigo peludo necesita entrenamiento?
    </ion-card-content>
  </ion-card>
</ion-content>
