<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>check general</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">check general</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div class="logo-text">
    <img src="assets/img/Pegatina for Sale con la obra Veterinario de megnance27.jpeg" alt="logo">
    <label for=""><h1>zooheath</h1></label>
  </div>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>opciones</ion-title>
  </ion-toolbar>
  <ion-label class="imagen1">
     <img src="\assets\img\perrito.jpeg" alt="perrito">
     <h1>Check General</h1>
     <p>en esta apartado podras pedir una cita para tu querida mascota</p>
  </ion-label>

  

  <form #formulario="ngForm" (ngSubmit)="registrarcita(formulario)">
    <ion-list>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">nombre</ion-label>
            <ion-input type="text"  required name="nombre" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">raza</ion-label>
            <ion-input type="text"  required name="raza" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">edad</ion-label>
            <ion-input type="text" required name="edad" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">sexo</ion-label>
            <ion-input type="text"  required name="sexo" ngModel></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
  
      <ion-row>
        <ion-col>
          <ion-button expand="block"  routesLink="/atencion-medica" type="submit">PEDIR CITA</ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="block" routerLink="/atencion-medica">cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-list>
  </form>
  
</ion-content>
