<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #registroForm="ngForm">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input 
        type="text" 
        required 
        name="nombre" 
        [(ngModel)]="usuario.nombre">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo</ion-label>
      <ion-input 
        type="email" 
        required 
        name="correo" 
        [(ngModel)]="usuario.correo">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
        type="password" required 
        name="contrasena" 
        [(ngModel)]="usuario.contrasena">
      </ion-input>
    </ion-item>

    <ion-button 
      expand="full"  
      type="submit" 
      [disabled]="!registroForm.valid"  routerLink="/login">
      aceptar
    </ion-button>

    <ion-button expand="full" routerLink="/login">
      Ya tengo una cuenta
    </ion-button>
    

  </form>
</ion-content>
